
@media (max-width:1010px)
{
    :root
    {
    /* dimension header */
    --gap-header:93.833px;
    --width-logo: 80px;
    }
    /* ------------------accueil----------------------- */
    .accueil .case2
    {
        display:none;
    }
    .accueil .col2
/* col2 c'est la classe qui met les deux div en grid dans acceuil */
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0%;
        
    }
    .case1
    {
        width: 100%;
    }
    
    .ouverture-avis
    {
        justify-content: flex-start;
        gap: 120px;
    }
    .commandeur
    {
        padding-inline: 25px;
    }
    .texte-Accueil
    /* un bloc prncipal */
    {
        width: 60%;
        margin-bottom: 1.5rem;
    }
   .grid-container2
   {
   display: block;
   }
   .grid-item-2
   {
    gap:30px;
   }
   .grid-propos
   {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   }
    .ssg-traditionf ,.ssg-ingredient , .ssg-savoir ,.ssg-convivialité
    {
        transition: all 0.3s ease-in-out;
    &:hover
    {
        transform: perspective(190px) translateZ(1px);
        box-shadow:  1px 4px 14px -4px rgba(0,0,0,0.81);
        border: 0.4px var(--couleur-troisieme) solid;

    }
    }
    .grid-plat
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .grid-events
    {
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(3, 1fr); 
       gap:20px;
    }


}



@media (max-width:798px)
{
    :root
    {
        --width-logo:60px;

    }
    .wrapper, .col2
    {
        width: calc(100vw - 2 * (100vw / 9) + 32.273px);
        & section
        {
            width:100%;
        }
    }
    .grid-item-2
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr); 
    }
    .ss-grid1
{
    /* grid-row: 1 / 2;
    grid-column: 1 / 2; */
    border-radius: var(--border-radius-small);
    background-color: aquamarine; 
    overflow: hidden;
    & img
    {
        width: 100%;
        height: 100%;
    }
}
.ss-grid2
 { 
    /* grid-row: 2 / 3;
    grid-column: 1 /2; */
    border-radius: var(--border-radius-small);
    background-color: #9a4b7e;
    overflow: hidden;
    & img
    {
        width: 100%;
        height: 100%;
    } 
}
.ss-grid3 
{
    /* grid-row:  1 / 2;
    grid-column: 2 /3  ; */
    border-radius: var(--border-radius-small);
    background-color: blue; 
    overflow: hidden;
    & img
    {
        width: 100%;
        height: 100%;
    }
}
.ss-grid4 
{
    /* grid-row: 2 / 3;
    grid-column: 2 /3 ; */
    border-radius: var(--border-radius-small);
    background-color: darkblue; 
    overflow: hidden;
    & img
    {
        width: 100%;
        height: 100%;
    }
}
    .grid-propos
    {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    }
    .ssg-traditionf ,.ssg-ingredient , .ssg-savoir ,.ssg-convivialité
    {
        
        &:hover
        {
            transform:  translateZ(1px);
            box-shadow:  1px 2px 5px -2px rgba(0,0,0,0.81);

        }
    }

    .grid-contact
    {
        display: flex;
        flex-direction: column;
        gap: 13px;
        
    }
    .grid-plat
    {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    }
    .plat
    {
        width: 100%;
    }
    header
    {
        justify-content: space-between;
        height: 100px;
        padding: 0 9%;
    }
    /*  */
    
    nav
    {
        flex-direction: column;
        text-align: center;
        position: absolute;
        top:100%;
        left: 0;
        background-color: var(--couleur-white);
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 0.4s 0.01s ease ;
        backdrop-filter: blur(50px);
        gap:0px;
        
    }
    .menu
    {
        flex-direction: column;  
        font-size: var(--taille-2x);
        margin-top: 5rem;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.4s ease;
    }
    .commander
    {
        margin-inline: auto;
        width: 80vw;
        text-align: center;
        padding: 5px;
    }
    .logo img
    {
        height: 60px;
        width: 60px;
        /* width: 60px; */
    }
    .icons
    {
        display: inline-flex;
        & #icon-close
        {
            display: none;
        }
    }
    #check:checked~.icons #icon-menu
    {
        display: none;
    }
    #check:checked~.icons #icon-close
    {
        display:block ;
    }
    #check:checked~nav
    {
        height:100vh;
        overflow-y: scroll;
    }
    #check:checked~nav  div>a
    {
        transform: translateY(0) ;
        transition-delay: calc(.15s * var(--i));
    }
}
@media (max-width:650px)
{
    .commande-menu
    {
        flex-direction: column;
        gap: 15px;
    }
    .accueil
    {
     &::before
     {
        height: 750px;
     }

    }
    .ouverture-avis
    {
        flex-direction: column;
        gap: 15px;
    }
    .commandeur 
    {
        padding: 7px 10px;
        font-size: medium;

    }
    .voir-menu
    {
     padding: 4px 6px;
     font-size: medium;

    }
    .texte-Accueil
    {
        width: 98%;
    }
}
@media (max-height:478px)
{
    .menu
    {
        gap: 7px;
    }

}
@media (max-width:450px)
{
    .accueil
    {
     &::before
     {
        height: 820px;
     }
     margin-bottom: 50px;
    }
}
@media (max-width:400px)
{
    .wrapper, .col2
    {
        width: calc(100vw - 2 * (100vw / 9) + 12.273px);
        & section
        {
            max-width:100%;
            min-width: 0;

        }
        
    }
}
@media (max-width:350px)
{
    body
    {
        font-size: small;
    }
}



